#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.identity{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container{
  border: 1px solid #f9f9f9;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-container{
  background-image: url("/public/Ten.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
}

.socials{
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
  border: #f9f9f9 1px solid;
}

.social-icon{
  fill: invert(61%) sepia(42%) saturate(5478%) hue-rotate(185deg) brightness(99%) contrast(98%);
}